In [1]:
import pandas as pd

In [2]:
my_csv_dfs = []
for n in range (1,13):
    url = f"{n}-citibike-tripdata.csv"
    my_csv_dfs.append(pd.read_csv(url))

In [3]:
#combine all monthly csvs into one dataframe
main_df = pd.concat(my_csv_dfs)

In [6]:
# check dataframe info
main_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17548339 entries, 0 to 1016504
Data columns (total 15 columns):
tripduration               int64
starttime                  object
stoptime                   object
start station id           float64
start station name         object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name           object
end station latitude       float64
end station longitude      float64
bikeid                     int64
usertype                   object
birth year                 int64
gender                     int64
dtypes: float64(6), int64(4), object(5)
memory usage: 2.1+ GB

In [4]:
# take random sample
sub_df = main_df.sample(frac=0.01, replace=False, random_state=7)
len(sub_df)

175483

In [5]:
# reset dataframe index to month 
sub_df = sub_df.reset_index(drop=True)
sub_df["Month"] = [x.split("-")[1] for x in sub_df.starttime]

In [6]:
# group dataframe by rides per month
sub_df.groupby('Month').count()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
Month,,,,,,,,,,,,,,,
01,7106,7106,7106,7106,7106,7106,7106,7106,7106,7106,7106,7106,7106,7106,7106
02,8462,8462,8462,8462,8462,8462,8462,8462,8462,8462,8462,8462,8462,8462,8462
03,9680,9680,9680,9680,9680,9680,9680,9680,9680,9680,9680,9680,9680,9680,9680
04,13105,13105,13105,13105,13105,13105,13105,13105,13105,13105,13105,13105,13105,13105,13105
05,18211,18211,18211,18211,18211,18211,18211,18211,18211,18211,18211,18211,18211,18211,18211
06,19636,19636,19636,19636,19636,19636,19636,19636,19636,19636,19636,19636,19636,19636,19636
07,18792,18792,18792,18792,18792,18792,18792,18792,18792,18792,18792,18792,18792,18792,18792
08,19873,19873,19873,19863,19863,19873,19873,19863,19863,19873,19873,19873,19873,19873,19873
09,19006,19006,19006,19002,19002,19006,19006,19002,19002,19006,19006,19006,19006,19006,19006
10,18821,18821,18821,18821,18821,18821,18821,18821,18821,18821,18821,18821,18821,18821,18821
11,12703,12703,12703,12701,12701,12703,12703,12701,12701,12703,12703,12703,12703,12703,12703
12,10088,10088,10088,10088,10088,10088,10088,10088,10088,10088,10088,10088,10088,10088,10088

In [7]:
# export dataframe to csv file 
sub_df.to_csv(r'sample_bike1.csv',index=False)